/************************************
 * Template: 4Site Template - Child Theme Base
 * Project: Organic Consumers Association
 ***********************************/

/************************************
 * Color Index
 ************************************

    Primary: Action Buttons
        Background: #32cc33 (Lime Green)
        Background on Hover: #228e23 (Darker Lime Green)
        Text: #ffffff (White)

    Secondary: Continue Buttons
        Background: #009bc4 (Dark Blue)
        Background on Hover: #e74b3c (Darker Blue);       
        Text: #ffffff (White)

    Reduced Focus: Edit / Modification Buttons or Links
        Background: transpare
        Text: #999999 (Light Grey)

    Other
        Background: #d65b55 (Red)
        Text: #ffffff (White)

 ***********************************/

/* Font Overrides */
body{
    font-family: Roboto,sans-serif;
}    

/* Color Overrides */
body{
    color: #323232;
}

/* Style Overrides */
body{
 /*font-size: 14px;
 line-height: 1.86;*/
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #323232;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #323232;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #323232;
}

h2{
    font-size: 18px;
    margin: 1.5rem 0 1rem 0;
}

a{
    color: #0062a0;
}

.body-copy a{
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #0062a0;
    text-decoration: underline;
}

/* Focus state */
#main-content input[type="date"]:focus,
#main-content input[type="datetime"]:focus,
#main-content input[type="datetime-local"]:focus,
#main-content input[type="email"]:focus,
#main-content input[type="month"]:focus,
#main-content input[type="number"]:focus,
#main-content input[type="password"]:focus,
#main-content input[type="range"]:focus,
#main-content input[type="search"]:focus,
#main-content input[type="tel"]:focus,
#main-content input[type="text"]:focus,
#main-content input[type="time"]:focus,
#main-content input[type="url"]:focus,
#main-content input[type="week"]:focus,
#main-content select:focus,
#main-content textarea:focus {
  border: 1px solid #0e8542;
  -webkit-box-shadow: 0 0 0.3125rem #0e8542;
  box-shadow: 0 0 0.3125rem #0e8542;
}

#main-content:not(embedded){
    background: #ffffff;
}

#main-content button,
#main-content .radio-to-buttons label.en__field__label.en__field__label--item:hover,
#main-content .radio-to-buttons input[type='radio']:checked + label {
    background-color: #0e8542;
    color: #ffffff;
}

#main-content button:hover,
#main-content button:focus{
    background-color: #074e26;
}


#main-content .en__field__input--radio:checked+.en__field__label:before,
#main-content .en__field__input--checkbox:checked+.en__field__label:before {
    border-color: #0e8542;
    background-color: #0e8542;
}

/*
#main-content .en__field__input--checkbox+.en__field__label:before,
#main-content .en__field__input--checkbox:checked+.en__field__label:before{
    border-radius: 50%;
}
*/

/*
#main-content .en__field__input--radio:checked+.en__field__label:before,
#main-content .en__field__input--checkbox:checked+.en__field__label:before {
  border-color: #2ba6cb;
  background-color: #2ba6cb;
}

#main-content .en__field__input--checkbox:checked+.en__field__label:before {
  border-color: #2ba6cb;
  background-color: #2ba6cb;
  color: #ffffff;
}
*/

#main-content .en__tweetButton__send a,
#main-content .en__tweetButton__sent a{
    font: 400 13.3333px Arial;
    padding: 0.85rem 1rem;
    -webkit-appearance: none;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 1rem;
    color: #ffffff;
}

#main-content .en__tweetButton__send{
    background-color: #009bc4;  
}

#main-content .en__tweetButton__send:focus,
#main-content .en__tweetButton__send:hover{
    cursor: pointer;
    background-color: #e74b3c
}

#main-content .en__tweetButton__sent,
#main-content .en__tweetButton__sent:hover,
#main-content .en__tweetButton__sent:focus{
    background-color: #999999;

}

/* Action Submit Buttons */
#main-content .msgDetails .en__submit button {
    background-color: #009bc4;
}

/* Action Submit Buttons Active and Hover */
#main-content .msgDetails .en__submit button:hover,
#main-content .msgDetails .en__submit button:focus {
    background-color: #00514f;
}

/* Next Step Button */
#main-content .next-step .en__submit button{
    background-color: #649865;
}

/* Next Step Button */
#main-content .next-step .en__submit button:hover,
#main-content .next-step .en__submit button:focus{
    background-color: #00514f;
}